@model WebControlVacunas_CodigoX.Models.CronogramaVacunacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CronogramaVacunacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaProgramadaVacunacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaProgramadaVacunacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVacunacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVacunacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vacuna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vacuna.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarjetaControl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarjetaControl.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
